/**
 ** COLLAPSIBLE C(hat)BOX
 ** Version: Vertically-aligned, no cookies
 ** widget by kismet aka roobeedeedada
 ** https://github.com/roobeedeedada/Collapsible-Box
 ** http://www.rpg-directory.com/index.php?/topic/63660-collapsible-cboxshoutbox
 ** 
 ** Style changes (such as colour, style and location) welcome
 **/

#vertical-toggle {
	position: fixed;
	bottom: 35px;   
	right: 0px; 
	height: 343px;
	border-radius: 15px;
	background-color: #000000;  
	border: 1px solid #ffffff;  
	cursor: pointer;    
	padding: 0px 5px;   
}   
#vertical-toggle ul {   
	list-style: none;   
	font-family: Verdana, Tahoma, Arial, sans-serif;    
	font-size: 11px;    
	color: #ffffff;    
	text-align: center; 
	padding: 5px;   
	margin: 0px;    
	margin-top: 80px;   
}   

#collapsible-box {  
	padding: 10px;  
	background-color: #000000;  
	border: 1px solid #ffffff;  
	position: fixed;    
	bottom: 35px;   
	right: 35px;    
	z-index: 100;   
	display: none;  
}

